body{
	background-image: linear-gradient(to right, red, yellow, green, violet, blue);
}

h1{
	font-size:80px;
	text-align:center;
	font-variant: small-caps
}


.nav{
	background-image: linear-gradient(to right, darkblue,black);
}
.nav a{
	padding:20px 20px;
	color:white;
	text-decoration:none;
	font-size:25px;
	display:inline-block;
	font-family: cursive;
}

.nav img{
	padding:40px 30px 10px 30px;
}

.nav a:hover{
	background-color:purple;
	padding:20px 20px;
}

.home{
	background-image: linear-gradient(to right, darkblue,black);
	color:white;
	text-align:center;
	font-family: cursive;
	font-size:20px;	
}

.home h2{
	color:red;
	font-size:40px;
	padding:15px;
}

.fac{
	background-image: linear-gradient(to right, darkblue,black);
	color:red;
	text-align:center;
     font-family: cursive;
	font-size:20px;
}

.fac h2{
	padding:15px;
	font-size:40px;
	text-decoration:none;
}

.fac img{
	padding:20px;
}

.opening{
	background-image: linear-gradient(to right, darkblue,black);
	text-align:center;
	font-family: cursive;
	font-size:20px;
}

.opening h2{
	color:red;
	padding:15px;
	font-size:40px;
	text-decoration:none;
}
	
.facilities h2{
	color:red;
	padding:15px;
	font-family: cursive;
	font-size:40px;
	text-decoration:none;
}	

.facilities{
	color:white;
	padding:20px;
	background-image: linear-gradient(to right, darkblue,black);
	text-align:center;
	font-family: cursive;
	font-size:20px;
}

.contact{
	color:white;
	padding:20px 0px 40px 400px;
	background-image: linear-gradient(to right, darkblue,black);
	text-align:center;
	font-family: cursive;
	font-size:20px;
}

.contact h2{
	color:red;
	padding:15px 400px 50px 50px;
	font-size:40px;
	text-decoration:none;
	text-align:center;
}
.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 600px;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	
	outline: none;
	
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #2EBC99;
}
